body {
  background-color: #cae4db;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #070d59;
}
h3{
  color:#070d59;
}
img{
    height: 200px;
    border-radius: 100%;

}
